.demo-card-wide.mdl-card {
    margin-top: 50%;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: red;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .config-slider{
    width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

body {
  background-position: center;
}

.dabby{
  width: 200px;
  height: 200px;
  bottom: 80%;
  right: 60%;
}

.natal {
  width: 200px;
  height: 200px;
  top: 3%;
  left: 60%;
}

.renas{
  width: 200px;
  height: 200px;
  top: 50%;
  left: 55%;
}

.violino{
  width: 200px;
  height: 200px;
  top: 65%;
  right: 45%;
}

.papai{
  position: absolute;
}