.demo-card-wide.mdl-card {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: red;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .config-slider{
    width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
