.demo-card-wide.mdl-card {
    width: 512px;
    margin-right: auto;
    margin-left: auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: red;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .config-slider{
    width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  margin-right: 40px;
}